$white:#ffffff;
$dark_grey:#010f16;
$green_grey:#607c8a;
$blue_green:#01acac;
$blue_green_dark:#0097a7;
$red:#e90303;
$grey:#607d8b;
$light_grey:#efefef;
$primary_color:$blue_green;
$hero_text_color:$white;
$btn_text_color:$white;
$input_bg_color:$white;
$item_title_color:$blue_green_dark;
$chapter_title_color:$dark_grey;
$item_text_color:$dark_grey;
$date_text_color:$red;
$paragraph_color:$dark_grey;
$decor_menu_line:$green_grey;
$decor_border:$grey;
$background_item:$light_grey;
$background_main:$white;
$placeholder_color:$dark_grey;
$form_label_color:$blue_green_dark;
$hero_btn_height:42px;
$hero_btn_line_height:43px;
$item_btn_height:35px;
$item_btn_line_height:32px;
$form_btn_height:38px;
$form_btn_line_height:38px;
$font_stack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$page_font:normal 300 15px/24px $font_stack;
$background_img:'./../img/header_background_v1.jpg';




